# Jean pockets

Are women jean pockets ridiculously small? Let's look at the data!

The file `jean-pocket-measurements.csv` shows pocket measurements for 20 popular brands.
Four pairs of jeans from each brand were measured: men's and women's skinny and straight styles. All jeans were designated a 32-inch waistband. 

The following measurements are included:
- `height_front`: maximum front pocket height (cm)
- `height_back`: maximum back pocket height (cm)
- `width_front`: maximum front pocket width (cm)
- `width_back`: maximum back pocket width (cm)

In [51]:
# FOR GOOGLE COLAB ONLY.
# Uncomment and run the code below. A dialog will appear to upload files.
# Upload 'jean-pocket-measurements.csv'.

# from google.colab import files
# uploaded = files.upload()

In [52]:
import pandas as pd
df = pd.read_csv('jean-pocket-measurements.csv')
df.head()

,brand,style,gender,height_front,width_front,height_back,width_back
0,3fe5003e,skinny,women,14.5,16.5,15.0,13.7
1,3fe5003e,straight,women,14.5,16.0,15.5,13.0
2,790c6eab,skinny,women,13.0,14.5,15.5,13.5
3,790c6eab,straight,women,13.0,14.5,14.5,13.0
4,26aaf627,skinny,women,13.0,14.0,14.0,14.2

### Project Ideas

- What is the average difference in pocket `height_front` between women's and men's jeans?

- Is there a significant difference in pocket `height_front` between skinny and straight styles within the same gender?

- How do back pocket sizes compare between women's and men's jeans?

- Measure your phone's height. What percentage of women's and men's jeans can comfortably fit your phone in the pockets?

In [53]:
# YOUR CODE HERE (add more cells as needed)
averageMen=df.query('gender == "men"')
averageMen.head(2)

,brand,style,gender,height_front,width_front,height_back,width_back
38,3fe5003e,skinny,men,26.0,17.0,17.0,14.0
39,3fe5003e,straight,men,24.5,18.0,16.0,15.2

In [54]:
averagewomen=df.query("gender == 'women'" )
averagewomen.head(2)

,brand,style,gender,height_front,width_front,height_back,width_back
0,3fe5003e,skinny,women,14.5,16.5,15.0,13.7
1,3fe5003e,straight,women,14.5,16.0,15.5,13.0

In [55]:
difference =(averageMen['height_front'].reset_index(drop=True) - averagewomen['height_front'].reset_index(drop=True)).abs()
difference.mean()

#the difference is too significant

np.float64(8.8025)

In [56]:
(df.query(" style == 'skinny'")['height_front'].reset_index(drop=True) -df.query("style =='straight'")['height_front'].reset_index(drop=True) ).abs().mean()
#the difference is not too significant

np.float64(1.4224999999999999)

In [57]:
(averageMen['height_back'].reset_index(drop=True) - averagewomen['height_back'].reset_index(drop=True)).abs().mean()
#the difference is not too significant

np.float64(1.15)

In [ ]:
phone_height=15
averageMen.query("height_front > @phone_height or height_back > @phone_height or width_front > @phone_height or width_back > @phone_height").count()

brand           39
style           39
gender          39
height_front    39
width_front     39
height_back     39
width_back      39
dtype: int64

In [59]:
averagewomen.query("height_front > @phone_height or height_back > @phone_height or width_front > @phone_height or width_back > @phone_height").count()

brand           1
style           1
gender          1
height_front    1
width_front     1
height_back     1
width_back      1
dtype: int64